@import "styles/variables";

.root {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  main {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }
  @media (min-width: 769px) {
  }
}
