@import "styles/variables";

.heroContainer {
  height: 100vh;
  min-height: 400px;
  max-height: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .heroContent {
    width: 650px;
    max-width: 100vw;
    padding: 40px 50px;
    background-color: $off-white;

    .eyebrow {
      text-align: center;
      margin: 0 auto 15px auto;
      text-transform: uppercase;
      font-weight: $font-medium;
      letter-spacing: 1px;
    }

    .title {
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto 15px auto;
    }

    .subtitle {
      text-align: center;
      margin: 0 auto 35px auto;
    }

    .buttonWrap {
      display: block;
      margin: auto;
      width: fit-content;
    }
  }
}
