@import "styles/variables";
.Navigation {
  width: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  // margins left/right
  padding-left: $grid-margins;
  padding-right: $grid-margins;

  @media only screen and (min-width: $breakpoint-sm) {
    padding-left: $grid-margins-sm;
    padding-right: $grid-margins-sm;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    padding-left: $grid-margins-lg;
    padding-right: $grid-margins-lg;
  }

  .mobileBg {
    background-color: $yellow;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 90%;

    width: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
    &.active {
      width: 300vh;
      height: 300vh;
      // z-index: 0;
    }
  }

  .logo {
    color: $yellow;
    cursor: pointer;
    font-family: $bold_font_family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-right: auto;
  }
  .navEl {
    padding: 0 30px;
    color: $black;
    position: relative;
    z-index: 1;
    display: none;
    cursor: pointer;
    &.active {
      padding: 0;
      display: block;
      position: absolute;
      transform: translate(-50%, 50%);
      top: 50%;
      left: 50%;
    }
    @media only screen and (min-width: $breakpoint-sm) {
      display: block;
      position: relative;
      padding: 0 30px;
    }
    &:first-of-type {
      padding: 0 30px 0 0;
    }
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $black;
      transition: width 0.3s;
    }
  }
  .navEl:hover:after {
    width: 100%;
  }

  .lang {
    position: relative;
    margin-left: 30px;
    display: none;
    z-index: 1;
    @media only screen and (min-width: $breakpoint-sm) {
      display: block;
    }

    &.active {
      padding: 0;
      display: block;
      position: absolute;
      transform: translate(-50%, 50%);
      top: 50%;
      left: 50%;
    }

    a {
      color: $black;
      text-transform: capitalize;
    }
    .langLink {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      cursor: pointer;
      text-transform: capitalize;
      img {
        height: 20px;
        width: 20px;
        margin-left: 10px;
        transition: transform 0.2s ease;
      }
      &.active {
        img {
          transform: rotate(180deg);
          transition: transform 0.2s ease;
        }
      }
    }
    .dropdown {
      display: none;
      &.show {
        position: absolute;
        left: -20px;
        right: 0;
        top: 30px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
        padding: 10px 20px;
        a {
          // padding: 10px 0 0 0;
          text-decoration: none;
          &:after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: $black;
            transition: width 0.3s;
          }
          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
}
