@import "styles/variables";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: transparent;
  z-index: 9;

  padding-left: $grid-margins;
  padding-right: $grid-margins;

  @media only screen and (min-width: $breakpoint-sm) {
    padding-left: $grid-margins-sm;
    padding-right: $grid-margins-sm;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    padding-left: $grid-margins-lg;
    padding-right: $grid-margins-lg;
  }
}

.nav.active {
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
}

.mobileBg {
  background-color: $yellow;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 90%;

  width: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
  &.active {
    width: 300vh;
    height: 300vh;
    // z-index: 0;
  }
}

.logo {
  color: $yellow;
  cursor: pointer;
  font-family: $bold_font_family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin-right: auto;
  position: absolute;
  top: 30px;
  left: 20px;
  mix-blend-mode: difference;
  z-index: 9;
  @media only screen and (min-width: $breakpoint-sm) {
    position: relative;
    top: 0;
    left: 0;
  }
}
.navEl {
  padding: 0 30px;
  color: $black;
  position: relative;
  z-index: 1;
  display: none;
  cursor: pointer;

  @media only screen and (min-width: $breakpoint-sm) {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: relative;
    padding: 0 30px;
  }
  &:first-of-type {
    padding: 0 30px 0 0;
  }
  &:last-of-type {
    padding: 0 0 0 30px;
  }
  &:after {
    content: "";
    display: block;

    width: 0;
    height: 2px;
    background: $black;
    transition: width 0.3s;
  }
  &.active {
    padding: 0;
    margin-bottom: 22px;
    text-align: left;
    font-size: 32px;
  }
}
.navEl:hover:after {
  width: 100%;
}

.lang {
  position: relative;
  margin-left: 30px;
  display: none;
  z-index: 1;
  @media only screen and (min-width: $breakpoint-sm) {
    display: block;
  }

  &.active {
    padding: 0;
    display: block;
    margin-left: 0;
    .langLink {
      text-align: left;
      font-size: 32px;
    }
  }

  a {
    color: $black;
    text-transform: capitalize;
  }
  .langLink {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    text-transform: capitalize;
    img {
      height: 16px;
      width: 16px;
      margin-left: 10px;
      transition: transform 0.2s ease;
    }
    &.active {
      img {
        transform: rotate(180deg);
        transition: transform 0.2s ease;
      }
    }
    @media only screen and (min-width: $breakpoint-sm) {
      display: flex !important;
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
  .dropdown {
    display: none;
    &.show {
      position: absolute;
      left: -20px;
      right: 0;
      top: 60px;
      display: flex;
      flex-direction: column;
      background-color: $white;
      box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
      padding: 10px 20px;
      @media only screen and (min-width: $breakpoint-sm) {
        top: 30px;
      }
      a {
        // padding: 10px 0 0 0;
        text-decoration: none;
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $black;
          transition: width 0.3s;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}
