@import "public/styles/variables";

.contactContainer {
  padding: 100px 0 50px;
  position: relative;
  background: linear-gradient(0deg, #171d27 50%, $off-white 50%);
  @media only screen and (min-width: $breakpoint-md) {
    padding: 200px 0 50px;
  }
}

.eyebrowRow {
  display: flex;
  align-items: center;
}
.separator {
  background-color: $dark;
  height: 1px;
  width: 100%;

  margin-bottom: 50px;
  margin-left: 20px;
}

.eyebrow {
  margin-bottom: 50px;
  text-transform: uppercase;
  white-space: nowrap;
}

.headline {
  margin-bottom: 50px;
  text-transform: uppercase;
  @media only screen and (min-width: $breakpoint-md) {
    margin-bottom: 100px;
  }
}

.card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.07);
  padding: 50px 40px;
  margin-bottom: 50px;
  @media only screen and (min-width: $breakpoint-md) {
    margin-bottom: 200px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  label {
    // font-size: 12px;
    // font-weight: $font-medium;
    margin-bottom: 10px;
    position: relative;
    .error {
      margin-left: 10px;
      bottom: -60px;
      color: red;
      left: 0;
    }
  }
  input {
    margin-bottom: 30px;
    height: 44px;
    border: 1px solid $dark;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    &:active,
    &:focus {
      outline: none;
      border: 2px solid $accent;
    }
  }
  textarea {
    margin-bottom: 30px;
    border: 1px solid $dark;
    border-radius: 4px;
    height: 150px;
    resize: none;
    outline: none;
    padding: 5px;
    padding-top: 10px;
    &:active,
    &:focus {
      outline: none;
      border: 2px solid $accent;
    }
  }
  .cta {
    width: fit-content;
  }
}

.itemsCol {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 0px;
  a,
  p {
    color: $off-white;
    margin-bottom: 40px;
    opacity: 0.7;
  }
  label {
    color: $off-white;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}
