@import "styles/variables";

.contactContainer {
  padding: 150px 0 0 0;
  background-color: $dark-blue;
  position: relative;
  @media only screen and (min-width: $breakpoint-md) {
    padding: 150px 0 0 0;
  }
}

.headline {
  margin-bottom: 32px;
  color: $white;
  text-align: center;
  span {
    color: $yellow;
  }
}
.subtitle {
  text-align: center;
  margin-bottom: 50px;
  color: $white;
  @media only screen and (min-width: $breakpoint-md) {
    margin-bottom: 90px;
  }
  span {
    color: $yellow;
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  label {
    margin-bottom: 10px;
    position: relative;
    color: $black;
    display: block;
    .error {
      margin-left: 10px;
      bottom: -60px;
      color: red;
      left: 0;
    }
  }
  input {
    margin-bottom: 30px;
    height: 44px;
    border: 1px solid $black;
    color: $black;
    background-color: $white;
    outline: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    &:active,
    &:focus {
      outline: none;
      border: 2px solid $black;
    }
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
    @media only screen and (min-width: $breakpoint-md) {
      width: calc(50% - 15px);
    }
    &:first-child {
      @media only screen and (min-width: $breakpoint-md) {
        margin-right: 15px;
      }
    }
    &:nth-child(2) {
      @media only screen and (min-width: $breakpoint-md) {
        margin-left: 15px;
      }
    }
  }
  textarea {
    // margin-bottom: 30px;
    border: 1px solid $black;
    border-radius: 10px;
    color: $black;
    background-color: $white;
    height: 100px;
    resize: none;
    outline: none;
    padding: 5px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 32px;
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 32px;
      height: 90px;
    }

    &:active,
    &:focus {
      outline: none;
      border: 2px solid $black;
    }
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  .cta {
    width: fit-content;
    display: block;
    margin-bottom: 100px;
  }
}

.footer {
  background-color: $darker-blue;
  padding: 100px 0 30px 0;
}

.itemsCol {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 0px;
  a,
  p {
    color: $black;
    margin-bottom: 12px;
    opacity: 0.7;
  }
  a:hover {
    opacity: 1;
    color: $black;
  }
}

.confirmDialog {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 50px;
  opacity: 0;
  transition: opacity 0.2 ease;
  pointer-events: none;
  p {
    text-align: center;
  }
  &.active {
    opacity: 1;
    transition: opacity 0.2 ease;
    pointer-events: initial;
  }
}

.divider {
  height: 1px;
  width: 70%;
  max-width: 700px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: $black;
  opacity: 0.7;
  @media only screen and (min-width: $breakpoint-md) {
    margin-top: 140px;
    margin-bottom: 20px;
  }
}
.copyrights {
  font-family: $mono_font_family;
  font-size: 12px;
  text-align: center;
  margin: auto;
  padding: 0 15px;
  opacity: 0.7;
}
