@font-face {
  font-family: "IBM-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/IBMPlexSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "IBM-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/IBMPlexSans-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "IBM-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/IBMPlexSans-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "IBM-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/IBMPlexSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "IBM-Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/IBMPlexMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "IBM-Condensed-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/IBMPlexSansCondensed-Bold.ttf") format("ttf");
}
