// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Grid Gutters
$gutters: 20px;
$gutters-sm: 30px;
$gutters-lg: 30px;

// Grid Lateral margins
$grid-margins: 20px;
$grid-margins-sm: 30px;
$grid-margins-lg: 60px;

// Grid
$grid-columns: 12;
$grid-max-width: 1300px;

// Colors
$black: #162129;
$white: #fefefe;

$light-bg: #f3f8ff;
$yellow: #f5c359;
$light-blue: #c8d9e2;
$blue: #2c2e5c;
$dark-blue: #1c1d3a;
$darker-blue: #12132b;

// Font
$regular_font_family: "IBM-Regular", sans-serif;
$medium_font_family: "IBM-Medium", sans-serif;
$semi_bold_font_family: "IBM-SemiBold", sans-serif;
$bold_font_family: "IBM-Bold", sans-serif;
$condensed_bold_font_family: "IBM-Condensed-Bold", sans-serif;
$mono_font_family: "IBM-Mono", monospace;

$font-regular: 400;
$font-medium: 500;
$font-bold: 900;
